# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

./node_modules/
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store 
# Temporary files
*.tmp
*.temp
# Build directories
build
# Coverage directory used by tools like istanbul
coverage
# Dependency directories
jspm_packages
# Optional npm cache directory
.npm
# Optional eslint cache
.eslintcache