#about {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 80vh;
  max-height: 90vh;
  overflow: hidden;
}
#about h2 {
  font-size: 120px;
  color: var(--body-font-color);
  font-family: var(--body-font-family);
  padding: 20px auto;
  margin: 20px 30px;
}
.char_2 {
  position: absolute;
  left: 20%;
  bottom: -10%;
  transform: translate(-50%, -20%);
}
.char_2 img {
  height: 500px;
  opacity: 01;
}

.about-text {
  width: 50%;
  height: 500px;
  position: absolute;
  left: 65%;
  top: 40%;
  transform: translate(-50%, -20%);
  z-index: 100;
  font-size: var(--body-font-size);
  color: var() --body-font-color;
  font-family: var(--body-font-family);
  line-height: 1.8rem;
  overflow: hidden;
}

.about-text p {
  width: 100%;
  margin: 16px auto;
}

.about-text span {
  font-weight: var(--heading-font-weight);
}
.icon-container {
  position: absolute;
  bottom: 0;
  right: 10%;
}
.ellipse {
  width: 300px;
  height: 150px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  animation: rotateEllipse 8s infinite linear;
  transform-style: preserve-3d;
}

.icon img {
  font-size: 2em;
  filter: brightness(120%);
}

.icon {
  margin: 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  box-shadow: 0px -40px 50px 10px #dddbdb70; /* Added box-shadow with a negative spread radius */
}

.light-effect {
  position: absolute;
  top: -90%;
  width: 4em;
  height: 70px;
  background: linear-gradient(180deg, #ffffff46, #ffffffc3, #ffffff12);

  animation: lightEffect 2s infinite alternate ease-in-out;
  z-index: -1;
}
@keyframes rotateEllipse {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.icon img {
  font-size: 2em;
}

.icon:nth-child(1) {
  transform: translateX(-70%) translateY(-50%) rotateY(0deg) translateZ(150px);
}

.icon:nth-child(2) {
  transform: translateX(-50%) translateY(-50%) rotateY(60deg) translateZ(150px);
}

.icon:nth-child(3) {
  transform: translateX(-30%) translateY(-50%) rotateY(120deg) translateZ(150px);
}

.icon:nth-child(4) {
  transform: translateX(-10%) translateY(-50%) rotateY(180deg) translateZ(150px);
}

.icon:nth-child(5) {
  transform: translateX(10%) translateY(-50%) rotateY(240deg) translateZ(150px);
}
.icon:nth-child(6) {
  transform: translateX(30%) translateY(-50%) rotateY(300deg) translateZ(150px);
}

.icon:nth-child(7) {
  transform: translateX(50%) translateY(-50%) rotateY(360deg) translateZ(150px);
}
