
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #fdfdfd;
}

html.dark {
  background-color: #04020A; /* quantum-bg */
}

@keyframes crtFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.4;
  }
}

.crt-flicker {
  animation: crtFlicker 1.5s infinite;
}


.crt {
  position: relative;
  background: #0a0f0a;
  box-shadow: 0 0 20px #00ff00;
  overflow: hidden;
}

.crt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(0, 255, 0, 0.03) 0px,
    rgba(0, 255, 0, 0.03) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
  z-index: 2;
}

.crt::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: rgba(0, 255, 0, 0.2);
  animation: scan 4s infinite;
  z-index: 1;
}

@keyframes scan {
  0% {
    top: 0%;
    opacity: 0.1;
  }
  50% {
    top: 100%;
    opacity: 0.3;
  }
  100% {
    top: 0%;
    opacity: 0.1;
  }
}
