:root {
  --primary-color: #fffff0;
  --secondary-color: #dac2a8;
  --second-socondary-color: #0c0000;
  --white-color: #f1f1ef;
  --cream-white-color: #f2efde;
  --body-font-color: #40312c;
  --heading-font-family: "Playfair Display", serif;
  --heading-font-weight: 700;
  --heading-font-size: 24px;
  --body-font-family: "Roboto", sans-serif;
  --body-font-weight: 400;
  --body-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
