header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: var(--primary-color); */
  z-index: 1000; 
}


.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0; /* Stick the header to the top of the viewport */
  z-index: 1000; 
}

.logo {
  flex-basis: 180px;
}

.logo img {
  width: 120px;
}

nav {
  flex-grow: 1;
  text-align: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: var(--heading-font-color);
  font-size: var(--heading-font-size);
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  padding: 10px 14px;
  transition: all .3s ease-in-out;
}

nav a:hover{
  text-decoration: underline;
  font-size: 1.4rem;
}
