#projects {
  /* height: 90vh; */
  background-color: antiquewhite;
  font-family: var(--body-font-family); 
  overflow: hidden;
  width: 100vw;
  text-align: center;
}
#projects>h3{
    font-size: 4rem;
    padding: 20px auto;
    margin: 10px auto;
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.projects-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
  position: relative;
  transition: all 0.8s ease-in-out; /* Added */

}

.projects-card:hover{
  box-shadow: 0 0px 8px #51515171;

}

.projects-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--body-font-color);
}

.card-container {
  display: flex; 
  align-items: center; 
}

.card-desc {
  font-size: 16px;
  color: #666;
  flex: 1; 
}

.card-img img {
  max-width: 100%;
  height: auto;
  margin-left: 10px; 
}

.code-btn {
  margin-top: 10px; 
  position: absolute;
  bottom: -40px;
  left: 60%;
  opacity: 0; 
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out; 
}

.projects-card:hover .code-btn {
  
  opacity: 1;
  bottom: 30%;
}

.code-btn button {
  background-color: #ffffffae;
  color: var(--body-font-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: var(--body-font-size);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}

.code-btn button:hover {
  background-color: #ffffffc6;
}
